
body {
    margin: 0px;
    background: #f7f5fa;
}
header a {
  display: block;
  text-decoration: lawngreen;
  outline: none;  
  transition: 1s ease-in-out;
}
.topmenu:after {
  
  display: table;
  clear: both;
}
.topmenu > li {
  width: 12%;
  float: left;
  position: relative;
  
}
.submenu {
    position: initial;
    left: 0;
    top: 100%;
    width: 180px;
    opacity: 0;
    transition: 1s ease-in-out;
}
.submenu a {
    color: rgb(228, 24, 24);
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    
}
.submenu li:last-child a {border-bottom: none;}
.topmenu > li:hover .submenu {
  opacity: 1;
    transform: skew(1);
}